<link rel="stylesheet" href="css/locationAddr.css">

<div class="lp_search">
	<div class=" table w100 ">
		<div class="cell" style="width:1.5rem;"> <i></i>
		</div>
		<div class="cell">
			<input type="text" id="search_addr" placeholder="请输入所在写字楼/小区/学校等"
			ng-model="searchText" ng-change="search()"/>
		</div>
		<div class="cell tr">
			<a href="javascript:" id="cancel" class="btn"
            ng-click="cancelSearch()">取消</a>
		</div>
	</div>
</div>

<div class="lp_searchAddrList" ng-show="showSearch">
	<ul id="lp_searchAddrListData" >
		<li class="addrItem" ng-repeat="searchAddr in searchAddrArr"
            ng-bind="searchAddr.name" ng-click="toIndex(searchAddr)">
		</li>
	</ul>
</div>

<div class="addr-wrap" id="info" ng-hide="showSearch">
	<p class="p-label">当前位置</p>
	<div class="addr cur-addr table w100">
		<div class="cell addrItem" ng-bind="locationAddr.name" ng-click="toIndex(locationAddr)"></div>
		<div class="lp_position cell tr" ng-click="relocation()">
			<a id="doPos" href="javascript:"><i ng-class="{posing:locating}"></i>重新定位</a>
		</div>
	</div>
	<p class="p-label" ng-click="showAroundAddrs(locationAddr.name, 'aroundAddrs')">附近地址</p>
	<div class="addr">
		<ul>
			<li class="addrItem" ng-repeat="aroundAddr in aroundAddrs" ng-click="toIndex(aroundAddr)" ng-bind="aroundAddr.name"></li>
			<li style="position:relative;">
				<a style="display:block;width:100%;height:100%;" href="#/choose_oordinate">
					更多地址 <span class="fr nav-left" style="position:absolute;right:0;top:50%;margin-top:-5px;"></span>
				</a>
			</li>
		</ul>
	</div>
	<p class="p-label">收货地址</p>
	<div class="addr">
		<ul>
			<li class="addrItem" ng-repeat="address in addressArr">
				<p class="user" ng-bind="address.contactor + ' '+ address.phone"></p>
				<p class="user-addr" ng-bind="address.address + address.doorplate"></p>
			</li>
		</ul>
	</div>
</div>